@tailwind base;

@tailwind components;

@tailwind utilities;

.vimeo-wrapper {
}
.vimeo-wrapper iframe {
  width: 100vw;

  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */

  z-index: 100000;
}
